.list-group-item{
  cursor: pointer;
}

.list-group-item:hover{
  background-color: aqua;
}

.list-group{
  max-width: 30%;
  text-align: center;
  margin-left: 35%;
  margin-top: 1% ;
}

*{
  font-family: "Roboto Light", serif;

}

.imageFilm{
  max-height: 50vh;
}


#movieElement{
  text-align: center;
  font-family: 'MyFont', serif;
}


