.example-form {
  display: flex;
  flex-direction: column; /* Stack children vertically */
  height: 100vh; /* Use 100% of the viewport height */
  margin: 0; /* Remove default margin */
}

.example-full-width{
  width : 40%;
}

#submitBtn{
  width : 15%;
  height:5%;
  border-radius:6px;
}
.example-form{
  margin:-10vh;
}

