<form class="example-form align-items-center justify-content-center" [formGroup]="formGroup" (ngSubmit)="onSubmit()">
  <mat-form-field class="example-full-width">
    <mat-label>First Name</mat-label>
    <input matInput placeholder="Ex. David" formControlName="firstName">
    <mat-error *ngIf="firstNameControl?.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <input matInput placeholder="Ex. Dupont" formControlName="lastName">
    <mat-error *ngIf="lastNameControl?.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Age</mat-label>
    <input type="number" matInput placeholder="Ex. 21" formControlName="age">
    <mat-error *ngIf="ageControl?.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-checkbox [(ngModel)]="isEmailVisible" (change)="toggleEmailValidation()">Check this to make the input invisible</mat-checkbox>

  <mat-form-field *ngIf="isEmailVisible" class="example-full-width visible">
    <!-- Your existing code for the email input field -->
    <mat-label>Email</mat-label>
    <input type="email" matInput formControlName="email" [errorStateMatcher]="matcher" placeholder="Ex. pat@example.com">
    <mat-hint></mat-hint>
    <mat-error *ngIf="emailFormControl?.hasError('email') && !emailFormControl?.hasError('required')">
      Please enter a valid email address
    </mat-error>
    <mat-error *ngIf="emailFormControl?.hasError('required')">
      Email is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <mat-form-field class="example-full-width">
    <mat-label>Last Name</mat-label>
    <textarea matInput placeholder="Ex. Hello!" formControlName="comment"></textarea>
    <mat-error *ngIf="commentControl?.hasError('required')">
      This field is <strong>required</strong>
    </mat-error>
  </mat-form-field>

  <button type="submit" [disabled]="!isFormValid">Submit</button>
</form>
