/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

@font-face {
  font-family: 'MyFont';
  src: url('fonts/Playfair_Display/PlayfairDisplay-VariableFont_wght.ttf');
}


.pageTitle{
  margin-top: 2vh !important;
  margin-left: 44%;
  font-size: 25px;
  font-weight: bold;
  font-family: "Roboto Light";

}


